.sidebar-menu .main-menu ul li.hidden{
  display: none;
}

.sidebar-menu .main-menu ul li.hidden{
  display: none;
}

#rulelist tbody table.treetable span
{
  padding:0px;
}

.main-container .hidden{
  display: none;
}